<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/harrisrhm/OWNER_SWAP"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/lewagon/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/lewagonmel"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2020 Sam, Eric, Harris and Haiden. All rights reserved.
  </div>
</div>