<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'banner.jpg' %>');">
  <div class="container">
    <h1>Owner Swap </h1>
    <h1>Find a new human today!</h1>
    <p>Use this service to find available humans in your area that want to meet and fulfill your desires.</p>
    <a class="btn btn-flat" href= "humans" data-turbolinks="false">See the humans</a>
  </div>
</div>
